*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:30px;
}

.image-box{
    position:relative;
    overflow:hidden;
}

.image-box img{
    width:100%;
    transition:0.5s;
}

.image-box::before{
    content:"View Image";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    opacity:0;
    z-index:2;
    transition:0.5s;
}

.image-box::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.5);
    opacity:0;
    transition:0.5s;
}

.image-box:hover img{
    transform:scale(1.2);
}

.image-box:hover::before{
    opacity:1;
}

.image-box:hover::after{
    opacity:1;
}