body {
    background-color: lightgray;
    font-family: Arial;
}

div{
        background-color: rgb(88, 210, 172);

}

.highlight{
background-color: rgb(176, 138, 114);

}

h1 {
    color: rgb(74, 74, 173);
    text-align: center;
}

.heading {
    background-color: pink;
    color: rgb(227, 142, 142);
}

.head{
background-color: rgb(158, 121, 232);
    color: rgb(221, 221, 52);

}

.para{
color: purple;
font-size: 18px;

}

p {
    color: rgb(213, 123, 207);
    font-size: 18px;
}
